<div class="page" id="signup-page">

  <div class="title">
    Welcome to {{event?.Name}}
  </div>

  <div class="body">
    <div class="logo-client">
      <img src="./assets/logo.jpg" alt="" class="logo">
    </div>

    <form #signupForm="ngForm" (ngSubmit)="submit()">

      <div class="input-container half">
        <label for="firstName">First Name</label>
        <input class="name" [(ngModel)]="details.firstName" name="firstName" placeholder="First Name" type="text" />
      </div>

      <div class="input-container half">
        <label for="lastName">Last Name</label>
        <input class="name" [(ngModel)]="details.lastName" name="lastName" placeholder="Last Name" type="text" />
      </div>

      <div class="input-container full">
        <label>Gender</label>
        <button type="button" (click)="setCategory(0)" [ngClass]="{selected: details.gender === 'Male'}"
          class="half">Male</button>
        <button type="button" (click)="setCategory(1)" [ngClass]="{selected: details.gender === 'Female'}"
          class="half">Female</button>
      </div>

      <div class="input-container half">
        <label for="team">Team</label>
        <input type="text" [(ngModel)]="details.team" name="team" placeholder="Team / Company">
      </div>

      <div class="input-container half">
        <label for="time">Time</label>
        <input type="number" [(ngModel)]="details.time" step="0.01" name="time" placeholder="Time"
          pattern="^\d*(\.\d{0,2})?$">
      </div>

      <div class="input-container full">
        <label for="email">Email</label>
        <input class="email" [(ngModel)]="details.email" name="email" placeholder="Email" type="email" />
      </div>

      <div class="input-container full">
        <button type="submit">Submit</button>
      </div>
    </form>

    <div class="logo-host">
      <img src="./assets/logo.jpg" alt="" class="logo">
    </div>
  </div>
</div>
