<div class="page" id="tv-page">
  <div class="title">
    {{event?.Name}}<br>
    Leaderboard <br>
    <img src="https://placehold.it/350x150" />
  </div>

  <div class="categories">
    <ng-container *ngFor="let participant of fastest.Male">
      <app-tv-category category="Fastest Male" [firstName]="participant.Participant.FirstName"
        [lastName]="participant.Participant.LastName" [time]="participant.Time"></app-tv-category>
    </ng-container>

    <ng-container *ngFor="let participant of fastest.Female">
      <app-tv-category category="Fastest Female" [firstName]="participant.Participant.FirstName"
        [lastName]="participant.Participant.LastName" [time]="participant.Time"></app-tv-category>
    </ng-container>

    <ng-container *ngFor="let team of fastest.Team">
      <app-tv-category category="Winning Team" [firstName]="team.Team.Name" [time]="team.Count"></app-tv-category>
    </ng-container>
  </div>
